body
  font-family: sans-serif
  font-size: 14px

  min-height: 100vh
  display: flex
  flex-flow: column nowrap
  justify-content: center

  color: $text
  background: linear-gradient($bg-dark, $bg 200px) $bg


li
  list-style: none


a, .ulink
  text-decoration: none
  color: $link

  &:hover
    color: $link-hover

.clickable, .ulink
  cursor: pointer


.text-backlink
  &:before
    content: ">>"
  text-decoration: underline
  color: $post-backlink


.text-quote
  &:before
    content: ">"
  color: $post-name


body>header
  nav
    color: $nav-text
    a, .ulink
      color: $link2
    form
      display: inline-block
  h1
    color: $page-title

  .banner
    width: 300px
    height: 100px
    border: 1px solid $shadow
    margin: 4px

body>header>nav,
body>footer
  font-size: .85em


body>header, body>footer, main
  margin: 6px

body>header, body>footer
  text-align: center

main
  flex-grow: 1


.Error-page
  text-align: center

  header
    font-size: 1.6em
    font-weight: bold


.Negoto-front-page,
.Admin-page
  &>main
    margin: auto

  &>main>.container
    background-color: $bg-light
    width: 600px
    max-width: calc(100vw - 36px)
    box-shadow: 2px 2px $shadow
    padding: 8px 10px
    margin-bottom: 8px

    &.Admin-login
      margin-top: 8px

  section>header
    font-size: 1.5em
    font-weight: bold
    border-bottom: 1px solid $shadow
    margin-bottom: 4px
    padding-bottom: 2px

  section:not(:last-child)
    margin-bottom: 16px


.Admin-page
  table form
    display: inline-block

  .edit-area
    margin-top: 10px


.Negoto-front-page
  section>header
    font-size: 1.5em
    font-weight: bold
    border-bottom: 1px solid $shadow
    margin-bottom: 4px
    padding-bottom: 2px

  section>footer
    color: $shadow
    font-size: .85em
    font-style: italic
    margin-top: 4px

  article>header
    background-color: $post-bg
    color: $post-subject
    padding: 2px 4px
    box-shadow: 2px 2px $shadow

  article>.news-body
    padding: 4px 2px 8px

  ul
    columns: 200px 2

  li a
    color: $link2

  li a:hover
    text-decoration: underline


.Negoto-catalog-page
  main
    text-align: center

    &>.container
      display: flex
      flex-flow: row wrap
      justify-content: center
      align-items: baseline
      margin: 4px

  .catalog-thread
    margin: 4px
    width: 250px

    .info
      font-size: .85em
      color: $nav-text

    .description
      margin: .2em
      max-height: 4em
      overflow: hidden

    .separator
      color: $nav-text

    .subject
      font-weight: bold


.Negoto-thread-page .post
  &.reply
    display: table
    background-color: $post-bg
    box-shadow: 2px 2px $shadow

    &:target
      background-color: $post-target-bg

    img
      max-width: 150px
      max-height: 150px

      &.expanded-img
        max-width: 100%
        max-height: 100%

    margin: 4px 0
    padding: 4px 6px

  .info
    margin-bottom: 2px
    padding-bottom: 2px
    border-bottom: 1px solid $shadow
    white-space: nowrap
    display: inline-block

    a, .ulink
      color: inherit

      &:hover
        color: $link-hover

  .name
    color: $post-name
    font-weight: bold

  img
    max-width: 100%
    float: left
    margin-right: 6px

    &.expanded-img
      float: none
      margin: 0


.button, input[type="text"], textarea
  display: inline-block

.button, input, textarea, select
  font-family: inherit
  font-size:   inherit


input, textarea, select
  background-color: $bg-light
  border: 1px solid $shadow
  color: $text
  padding: 2px 4px

input[type="submit"]
  background-color: $shadow
  border: 1px solid $shadow


.inline-form
  display: inline-block


table
  border-collapse: collapse
  width: 100%

  th
    text-align: left

  td
    border: solid 1px $shadow

  th, td
    padding: 2px 4px


.hidden-field
  display: none

.post-form
  display: inline-block
  min-width: 256px
  padding: 4px
  font-size: .9em

  background-color: $form-bg
  box-shadow: 2px 2px $shadow

  input, textarea
    border: none

  .button, input[type="text"], textarea
    padding: 4px 6px

  .button, input[type="text"], input[type="file"]
    background-color: $bg
    color: $shadow

  input[type="text"], textarea
    &::placeholder
      color: $shadow
    &::-webkit-input-placeholder
      color: $shadow
    &::-moz-placeholder
      color: $shadow
      opacity: 1
    &:-ms-input-placeholder
      color: $shadow


  // Containers
  div
    display: flex
    width: 100%

  .button
    margin-left: 4px
    user-select: none
    -moz-user-select: none
    -ms-user-select: none
    -webkit-user-select: none

  .subject-field
    margin-bottom: 4px

  input[type="text"]
    &:hover, &:focus
      color: $text
      background-color: $form-text-light-bg

  textarea
    margin: 4px 0
    min-width:  256px - (4px * 2)
    min-height: 6.3em
    background-color: $form-text-light-bg

  input[type="text"], input[type="file"]
    flex-grow: 1
    width: 128px

  input[type="file"]
    margin-right: auto
    height: calc(1em + 5px)

  input[type="checkbox"]:checked + .button
    background-color: black
    color: lightgrey

  .button:active
    background-color: darkgrey
    color: lightgrey
